body {
  font-family: "Poppins", sans-serif;
  background-color: teal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/images/santa-monica-main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: teal;
  padding: 16px 32px;
  margin-top: 32px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary-section {
  background-color: teal;
  opacity: 0.8;
}

section.secondary-section h3,
section.secondary-section h2 {
  color: white;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: teal;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: teal;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: teal;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: teal;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: teal;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(
      rgba(0, 128, 128, 0.7),
      rgba(0, 128, 128, 0.7)
    ),
    url("/images/santa-monica-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
  padding: 0;
}

.img-responsive {
  max-width: 100%;
  display: block;
  aspect-ratio: 1/1;
}

.grid-3-card-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-footer {
  padding: 30px;
}

.btn {
  display: block;
  background-color: teal;
  opacity: 0.7;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
}

.text-center {
  text-align: center;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
