body {
  font-family: "Poppins", sans-serif;
  background-color: teal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/images/santa-monica-main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: teal;
  padding: 16px 32px;
  margin-top: 32px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(
      rgba(0, 128, 128, 0.7),
      rgba(0, 128, 128, 0.7)
    ),
    url("/images/santa-monica-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin-right: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
